<h2>Editar Cliente</h2>
<% if @cliente.errors.any? %>
<ul>
	<% @cliente.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
<% end %>
</ul>
<% end %>
<%= form_for :cliente, url: {action: 'update', id: @cliente} do |f| %>
	<div class="field">
		<%= f.label :nome %>
		<%= f.text_field :nome %><br/>
	</div>
	<div class="field">
		<%= f.label :idade %>
		<%= f.text_field :idade %><br/>
	</div>
	<div class="actions">
		<%= submit_tag 'Atualizar' %>
	</div>
<% end %>
| <%= link_to 'Voltar', {action: 'index' } %> |