<%= form_for :proprietario, url: {action: 'create'} do |f| %>
	<% if @proprietario.errors.any? %>
	<ul>
		<% @proprietario.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
<% end %>
<div class="field">
	<%= f.label :nome%>
	<%= f.text_field :nome %><br/>
</div>
<div class="field">
	<%= f.label :nacionalidade%> 
	<%= f.text_field :nacionalidade %><br/>
</div>
<div class="actions">
	<%= submit_tag 'Adicionar' %>
</div>
<% end %>
| <%= link_to 'Voltar', {action: 'index' } %> |
