<h2>Editar Proprietario</h2>
<% if @proprietario.errors.any? %>
	<ul>
		<% @proprietario.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
		<% end %>
	</ul>
<% end %>
<%= form_for :proprietario, url: {action: 'update', id: @proprietario} do |f| %>
	<div class="field">
		<%= f.label :nome %>
		<%= f.text_field :nome %><br/>
	</div>
	<div class="field">
		<%= f.label :nacionalidade %>
		<%= f.text_field :nacionalidade %><br/>
	</div>
	<div class="actions">
		<%= submit_tag 'Atualizar' %>
	</div>
<% end %>
| <%= link_to 'Voltar', {action: 'index' } %> |